body {
  background-color: aqua;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 425px;
  background: #fff;
  padding: 20px;
  margin:3% auto;
  text-align: left;
  border-radius: 10px
}

/* Tùy chỉnh style cho các ô input */
.container form .user-detail input {
  width: 400px;
  padding: 10px;
  margin: 10px 10px 10px 0px;
  background: rgb(238, 238, 238);
}

.container .bg{
  display: flex;
  margin: 10px 10px 10px 0px;
  gap: 20px;
}

.container form .bg .birth {
  margin: 0px 20px 0px 0px;
}

.container form .bg .birth input {
  width: 30px;
  padding: 10px;
  background-color: rgb(238, 238, 238);
}
.container > form > .bg > .gender {
  display: flex;
  flex-direction: column;
}

.container > form > .bg > .gender > .choose-gender {
  display: flex;
}
.container > form > .bg > .gender > .choose-gender div{
  padding: 10px 25px;
  background-color: rgb(238, 238, 238);
  border: 1px solid black;
}

.container > form > .bg > .gender > .choose-gender div:hover{
  background-color: greenyellow;
}
.container .payment .choose-pay {
  display: flex;
}

.container .payment .choose-pay div {
  padding: 10px 71px;
  background-color: rgb(238, 238, 238);
  margin: 10px 0px;
}

.container .payment .choose-pay div:hover{
  background-color: greenyellow;
}
.container .payment .choose-pay .credit {
  border: 1px solid black;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.container .payment .choose-pay .paypal {
  border: 1px solid black;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.container .payment .card-num input {
  width: 400px;
  padding: 10px;
  margin: 10px 10px 10px 0px;
}
.container .card-detail {
  display: flex;
}

.container .card-detail .content input {
  width: 180px;
  padding: 10px;
  margin: 10px 10px 10px 0px;
}

.container .card-detail .time{
   display: flex;
   margin-top: 10px;
   margin-left: 30px;
}

.container .card-detail .time .time-month select{
  padding: 10px;
  border-radius: 0px;
}

.container .card-detail .time .time-year select{
  padding: 10px;
  border-radius: 0px;
}

.container .footer .check {
  display: flex;
  align-items: baseline;
}



