* {
  box-sizing: border-box;
}

body {
  font-family: 'Times New Roman', Helvetica, sans-serif;
  border: 1px solid #000;
}
#hs{
  text-align: center;
  height: 135px;
  font-size: 50px;
  margin-bottom: 15;
}
/* Style the header */
header {
  border: 2px solid #000000;
  padding: 30px;
  text-align: center;
  font-size: 50px;
  color: black;
  height: 200px;
  
}

/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  border: 2px solid #000000;
  font-size: 50px;
  width: 25%;
  padding-top: 230px;
  height: 600px;
  text-align: center;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  border: 2px solid #000000;
  float: left;
  width: 75%;
  padding: 20px;
  height: 600px;
  font-size: 50px;
  text-align: center;
  padding-top: 230px;
}

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  text-align: center;
  color: black;
  height: 400px;
  font-size: 50px;
  padding-top: 145px;
}

